<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to 'ScheduledTweets', root_path, class: 'navbar-brand' %>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
        <%= link_to 'About', about_path, class: 'nav-link' %>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if Current.user %>
          <li class="nav-item dropdown ms-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= Current.user.email %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <%= link_to "Edit Password", password_path, class: 'dropdown-item' %>
              </li>
              <li>
                <%= button_to "Logout", logout_path, method: :delete, class: 'dropdown-item' %>
              </li>
            </ul>
          </li>
        <% else %>
          <%= link_to "Sign In", sign_in_path, class: 'nav-link' %>
          </ul>
        <% end %>
        </div>
  </div>
</nav>
